<h2><img src="https://www.pentagonspace.in/assets/images/logo/logo-dark.png" alt="pentagonspace.com/" align=left></h2>
<div class="a" align=right>
    <font style="border:white; border-width:10px; border-style:outset;"width="100" height="100" color = 'blue'> 
Grooming Session </font>
</div >
<style>
body {
  font-family: 'Brush Script MT', cursive;
}
</style>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h2>Day 6 Questions </h2>
    </div>
  </div>

***``Note: Do not use any Method like : max,min,sort,....``***

**Q1.)Key in dictionary**  
Write a Python program to check whether a given key already exists in a dictionary.  
>data = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**Input Format**  
You will be taking a key name from user.

**Output Format**  
You need to print whether a key exists in a dictionary or not.

**Sample TestCase 1**
>**Input**  
2

>**Output**  
Key is present in the dictionary

**Sample TestCase 2**
>**Input**  
8

>**Output**  
Key is not present in the dictionary

In [1]:
#write code here

**Q2.)Remove duplicates**  
Write a Python program to remove key,value whenever you are getting duplicate values from dictionary. 
>data = {1: 10, 2: 20, 3: 30, 4: 40, 5: 30, 6: 60}

**Input Format**  
You will be taking a dictionary.

**Output Format**  
You need to print without duplicates values dictionary .

**Sample TestCase 1**
>**Input**  
{1: 10, 2: 20, 3: 30, 4: 40, 5: 30, 6: 60}

>**Output**  
{1: 10, 2: 20, 3: 30, 4: 40, 6: 60}

In [2]:
#write code here

**Q3.)Collections-NamedTuple**  
Named tuples assign meaning to each position in a tuple and allow for more readable, self-documenting code. They can be used wherever regular tuples are used, and they add the ability to access fields by name instead of position index.
You are given a data containing test results of class. The dataset consists of two columns namely : 'marks' and 'name'. These two Columns can be in any order i.e. ('name' followed by 'marks' or vice versa).
You have to find the average marks for the whole class.


**Input Format**  
First line will contain an Integer N, denoting the number of students.
Next line will contain two string denoting the column heading.
Next N lines will contain marks and name of the students respective of column headings.

**Output Format**  
Output the average marks of the class rounded off to two decimal places.

**Sample TestCase 1**  
>**Input**  
3<br>
#marks names  
10 arpit  
20 anushka  
35 rakshita  

>**Output**
21.67

In [ ]:
#write code here

**Q4. Class Record**  
You are given a dataset of N students belonging to the same class.  
The data contains name of the student followed by marks they scored in five subjects which are Physics, Chemsistry, Maths, English, Hindi.  
Your task is find the average marks of the class for each individual subject.  

**Output Format**  
You have to print average marks upto two decimal places for each subject followed by a space. 
>**Sample Testcase**  
>2<br>
>arpit 100 75 40 56 53  
>anushka 100 100 76 100 100  

>**Output**  
> 100.00 87.50 58.00 78.00 76.50

In [1]:
#write code here

**Q5.Cartesian Product**  
Aahan has provided you two list X and Y. He needs you to find the cartesian product X *  Y for him.

**Input Format**  
The first line of input consist of elements of X space separately.  
The second line of input consist of elements of Y separately.

**Output Format**  
Print the cartesian product X * Y

**Sample TestCase**
>**Input**  
2 4  
3 5

>**Output**  
(2, 3) (2, 5) (4, 3) (4, 5)

In [ ]:
#write code here

<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">if you have any queries please feel free to contact on "Vikash@pentagonspace.in".</p>
  <hr>
    <div class="a" align=right>
    <font style="border:white; border-width:10px; border-style:outset;"width="100" height="100"  > 
Vikash </font>
</div >
</div>