<h2><img src="https://www.pentagonspace.in/assets/images/logo/logo-dark.png" alt="pentagonspace.com/" align=left></h2>
<div class="a" align=right>
    <font style="border:white; border-width:10px; border-style:outset;"width="100" height="100" color="green"> 
Bootcamp Session </font>
</div >


<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h2>Day 3 Questions </h2>
    </div>
  </div>

***``Note: Do not use any Method like : max,min,sort,....``***

**Q1.)Even values**  
Write python code that find the Even values from List

**Input Format**  
You will be taking a values as list from Question.

**Output Format**  
You need to print the Even values from list to the Question.

**Sample TestCase 1**
>Input  
data = [52, 53, 54, 55, 56, 57, 58,78, 79, 80,34,45,45]

>Output  
[52, 54, 56, 58, 78, 80, 34]

In [6]:
#write code here

**Q2.)maximum values**  
Write python code that find the maximum values from List

**Input Format**  
You will be taking a values as list from user.

**Output Format**  
You need to print the maximum values from list to the Jupyter cell.

**Sample TestCase 1**
>Input  
data = [52, 53, 54, 55, 56, 57, 58,78, 79, 80,34,45,45]

>Output  
80

In [7]:
#write code here

**Q3.)single integer**  
Write a Python program to convert a list of multiple integers into a single integer.

**Input Format**  
You will be taking a values as list from user.

**Output Format**  
You need to print the single integer to the Jupyter cell.

**Sample TestCase 1**
>Input  
data = [52, 53, 54, 55, 56, 57]

>Output  
525354555657

In [1]:
#write code here

525354555657

**Q4.)3rd Maximum**  
Write a Python program to find 3rd maximum values from dataset.

**Input Format**  
You will be taking a values as list from user.

**Output Format**  
You need to print the maximum values to the Jupyter cell.

**Sample TestCase 1**
>Input  
[20,67,3,2.6,7,74,2.8,90.8,52.8,4,3,2,5,7]

>Output  
67

In [9]:
#write code here

**Q5.)Find sum**  
Write a Python program to find sum of integers and float values.

**Input Format**  
You will be taking a values as list.

**Output Format**  
You need to print the sum of list to the Jupyter cell.

**Sample TestCase 1**
>Input  
[23,45,67,78,'Hello',34.34,34j,'Python',34,45.6,'ML']

>Output  
326.94

In [2]:
#write code here

**Q6. Highest Score**  
The score of N players is given and you have to find the highest score of an individual.  

**Input Format**  
The first line of input consists of number of players, N  
The second line of input consist of N separated scores of players  

**Sample TestCase**  
**Input**  
>5<br>
>12  
>14  
>19  
>67  
>89  

**Output**  
> 89

In [6]:
#write code here

###### **Q7.YUVI and MAXIMUM**  
YUVI has provided you the score of his last 6 innings and you have to tell him the maximum total of 2 innings.

**Input Format:**  
The only line of input consist of score in last 6 innings.

**Output Format:**  
Print Maximum total of 2 innings


**Sample TestCase 1**  
>**input**  
1 20 13 45 12

>**output**  
65

In [1]:
#write code here

<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">if you have any queries please feel free to contact on "Vikash@pentagonspace.in".</p>

</div>