<h2><img src="https://www.pentagonspace.in/assets/images/logo/logo-dark.png" alt="pentagonspace.com/" align=left></h2>
<div class="a" align=right>
    <font style="border:white; border-width:10px; border-style:outset;"width="100" height="100" COLOR = 'blue' > 
Grooming Session </font>
</div >

<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h2>Day 9 Questions </h2>
    </div>
  </div>

***``Note: Do not use any Method like : max,min,sort,....``***

**Q1.)Second Highest**  
There are a total N students present in today's class. You are given student names and their respective height (in cms). You have to find names of all the second highest students (according to their heights). If there are multiple students , print each name on new line Print name of all the students having second highest height in alphabetical order.

**Input Format**  
First line will contain an Integer N, denoting the number of students.  
Next 2 * N lines contains description of each student. first line contains name of the student and second line contains height of the student.

**Output Format**  
Print name of all the students having second highest height in alphabetical order.

**Sample TestCase 1**
>**Input**  
4<br>
saurabh  
102  
arpit  
120  
aditya  
102  
varun  
101  

>**Output**  
aditya  
saurabh

In [15]:
#write code here

**Q2.)Average Score**  
There are N players with their score in last 3 matches. You will have to create a dictionary and output the average score of the player asked upto 2 decimal places.

**Input Format**  
The first line of input consist of number of players, N  
Next N lines consists of player name and their score in last three matches space separately.  
The last line of the input consist of the player in question.

**Output Format**  
Print the average score of the player asked.

**Sample TestCase 1**
>**Input**  
3<br>
Warner 150 100 120  
Kohli 10 30 20  
Rohit 60 80 40  
Kohli  


>**Output**  
20.00

In [14]:
#write code here

**Q3.)Lowest Rating**  
There are N players with their score in last 3 matches. You will have to create a dictionary and output the 
average score of the player asked upto 2 decimal places.

**Input Format**  
The first line of input consist of number of students, N.  
There are 2 lines of input for each student. The first line consist of student name and second line consist of the rating.

**Output Format**  
Print the student(s) with lowest rating. If there is more than one student with lowest rating print the 
names of all in alphabetical order. 

**Sample TestCase 1**
>**Input**  
4<br>
Rahul  
1<br>
Yogi  
7<br>
Modi  
9<br>
Gulam  
1  
 
>**Output**  
Gulam  
Rahul

In [1]:
#write code here

**Q4.** ISBN-10 identifiers are ten digits long. The first nine characters are digits 0-9. The last digit can be 0-9 or X, to indicate a value of 10.
An ISBN-10 number is valid if the sum of the digits multiplied by their position modulo 11 equals zero.

**For example:**

>ISBN     : 1 1 1 2 2 2 3 3 3  9  
position : 1 2 3 4 5 6 7 8 9 10  
This is a valid ISBN, because:

>`(1*1 + 1*2 + 1*3 + 2*4 + 2*5 + 2*6 + 3*7 + 3*8 + 3*9 + 9*10) % 11 = 0`  

**Examples**  
>1112223339   -->  true  
>111222333    -->  false

In [13]:
#write code here

**Q5.)Collections-Counter**  
Collections module implements specialized container datatypes providing alternatives to Python s general purpose built-in containers, dict, list, set, and tuple.
A Counter is a dict subclass for counting hashable objects. It is an unordered collection where elements are stored as dictionary keys and their counts are stored as dictionary values. Counts are allowed to be any integer value including zero or negative counts. The Counter class is similar to bags or multisets in other languages.
Your task is to find the top two most recurring characters in a given string using most_common() function of the module.

**Input Format**  
First line will contain a string s.

**Output Format**  
Output the two most recurring characters in the string along with their frequencies. 

**Sample TestCase 1**  
>**Input**  
>>asdasddds  

>**Output**  
>>('d', 4) ('s', 3)

**Explanation**  
Count of 'a' : 2  
Count of 'd' : 4  
Count of 's' : 3

In [ ]:
#write code here

<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">If you have any queries please feel free to contact on "Vikash@pentagonspace.in".</p>
</div>